@page "/shoppingList"


<h1>Shoppinglist</h1>
<div class="whole-page">
<input  class="inputField" placeholder="Add item" @bind="_inputValue" />
<button class="add-button" @onclick="AddToList">Add to list</button>

<div class="shoppingList">
    <h3>Shopping list items</h3>
    <ul>
        @foreach (var toBuy in shoppingList)
        {
            <li>
                <input class="test" type="checkbox" @bind="toBuy.IsDone"  @onclick="@(() => IsDoneList.Add(toBuy))" />
                <input type="text" @bind="toBuy.Title" />

                <button class="outline" @onclick="@(() => toBuy.Amount--)"> - </button>
                <p class="amount"> @toBuy.Amount </p>
                <button class="increment" @onclick="@(() => toBuy.Amount++)"> + </button>
                <button class="removeitem" @onclick="@(() => shoppingList.Remove(toBuy))"> X </button>
            </li>
        }
    </ul>
</div>

<h3>In cart</h3>
<ul>
    @foreach (var toBuy in IsDoneList)
    {

        <li>
            <p>
                @toBuy.Amount
                @toBuy.Title
            </p>
            <button class="removeButton" @onclick="@(() => IsDoneList.Remove(toBuy))"> X </button>

        </li>
    }
</ul>

</div>

@code
{


    private List<ListItem> shoppingList = new();
    private List<ListItem> IsDoneList = new();

    private string? _inputValue { get; set; }


    private void AddToList()
    {
        if (!string.IsNullOrWhiteSpace(_inputValue))
        {
            shoppingList.Add(new ListItem { Title = _inputValue });
            _inputValue = string.Empty;
        }



    }

}
